table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #E8F2FB;
    text-align: left;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

tr:nth-child(odd) {
    background-color: #E8F2FB;
}



.table__username{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 40px auto 40px auto;
}

.username__name{
    color: #FEAE29;
    font-weight: bold;
    font-size: 10px;
}

.table__header{
    background-color: #4657EB !important;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.table__course--passed{
    color:#3AF136;
    font-size: 10px;
    grid-column: 3/4;
    grid-row: 1;
    text-align: end;
}
.table__course--failed{
    color:#FD0000;
    font-size: 10px;
    grid-column: 3/4;
    grid-row: 1;
    text-align: end;
}

.text--padding{
    display: flex;
    padding-left: 20px;
    font-size: 10px;
    grid-column: 1/3;
    grid-row: 1;
}

.search__button{
    text-align: end;
    grid-column: 4/5;
    grid-row: 1;
}

.description--closed{
    display: none;
}

.description--open{
    display: block;
    padding-left: 20px;
    font-size: 10px;
    
}

.container__listButton{
    display: grid;
}

.listButton__image{
    width:80%;
    margin: auto;
    
}

.listButton__image--open{
    transform: rotate(180deg);
}

.listButton__image--closed{
    transform: rotate(0deg);
}


@keyframes open_description {
    0% {
      transform: skewY(20deg);
    }
    100% {
      transform: skewY(-20deg);
    }
}