.container__data{
    width: 80%;
    margin: auto;
}

.information__logo{
    display: block;
    margin: 50px auto;
}

.information__logo--footer{
    position: absolute; 
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    bottom: 30px; 
}

@media only screen and (max-width: 576px) {
    .information__logo{
        width: 40%;    
    }
    
    .information__logo--footer{
        width: 80%; 
    }
}

@media only screen and (min-width: 576px) {
    .information__logo{
        width: 30%;    
    }
    
    .information__logo--footer{
        width: 60%; 
    }
}


@media only screen and (min-width: 768px) {
    .information__logo{
        width: 15%;    
    }
    
    .information__logo--footer{
        width: 30%; 
    }
}
