.container__form{
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: 1px #BFE1FF solid;
}

.form__logo{
    display: block;
    width: 70%;
    margin: 40px auto 40px auto;
}

.form__textLogin{
    width: 55%;
    margin: auto;
    text-align: center;
    font: 10px 'Roboto', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: r#EAEAEA;
    opacity: 1; /* Firefox */
    font: 10px 'Roboto', sans-serif;
  }

.form__textLogin--Incorrect{
    position: absolute;
    color: red;
    font: 10px 'Roboto', sans-serif;
    top: -27px;
    left: 10px;
}

.form{
    text-align: center;
    position: relative;
}
.form__inputs{
    margin: auto;
    margin-top: 50px;
}

.inputs{
    width: 70%;
    border: none;
    border-bottom: 1px black solid;
}

.inputs__icon{
    width: 15px;
    height: 15px;
    margin: 0px 8px 0px 8px;
}

.form__button{
    border: none;
    border-radius: 20px;
    width: 70%;
    background-color: #FEAE29;
    margin-top: 50px;
    margin-bottom: 60px;
}

.button__text{
    color: #FFFFFF;
    font-weight: bold !important;
    font: 1rem 'Roboto', sans-serif;
    margin: 5px;
}

.container__image{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

@media only screen and (max-width: 576px) {

    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .container__form{
        grid-column: 1/5;
        grid-row: 1;
    }

    .container__image{
        grid-column: 1/5;
        grid-row: 2;
    }
}

@media only screen and (min-width: 576px) {
   

    .container{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }

    .container__form{
        grid-column: 1/5;
        grid-row: 1;
    }

    .container__image{
        grid-column: 4/7;
        grid-row: 1;
        margin:auto;
    }
}


@media only screen and (min-width: 768px) {

    .container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
   
    .container__form{
        grid-column: 1/3;
        grid-row: 1;
    }

    .container__image{
        grid-column: 3/5;
        grid-row: 1;
        margin:auto;
    }
}