<h1>Números en inglés</h1>

<h2>Números cardinales en inglés</h2>
<video controls>
  <source src="../../media/f_3wseayndc.mp4" type="video/mp4">
</video>
<p>Los números cardinales se usan para contar cosas o expresar cantidades.</p>
<p>Y los puedes utilizar en cualquier momento o situación, por ejemplo:</p>
<ul>
  <li><em><strong>There are three (3) apples on the table.<br></strong></em>Hay tres (3) manzanas sobre la mesa.<br></li>
  <li><em><strong>I worked twenty (20) hours this week.<br></strong></em>Yo trabajé veinte (20) horas esta semana.<br></li>
  <li><em><strong>She has one (1) car.<br></strong></em>Ella tiene un (1) carro.<br></li>
  <li><em><strong>He gave me fifty (50) dollars for my work.<br></strong></em>Él me dió cincuenta (50) dólares.</li>
</ul>
<img src="../../media/cardinal-numbers.png" alt="Ejemplo de números cardinales">
<h2>Cómo se leen los números en inglés</h2>
<p>Como en español, las cifras numéricas en inglés pueden dividirse en unidades, decenas, centenas, unidades de mil, decenas de mil, y así continúas hasta llegar a un millón, un billón, etc., y de esto depende cómo se leen los números en inglés.</p>
<img src="../../media/cifras_1.png" alt="Imagen ejemplo de las cifras.">
<h2>Unidades:</h2>
<p>Los números del 0 al 9 tienen nombres específicos:</p>
<p>0 =&nbsp;<strong><em>Zero&nbsp;</em></strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1 =<strong><em>&nbsp;One&nbsp;</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>2 =&nbsp;<strong><em>Two&nbsp;</em></strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3 =&nbsp;<strong><em>Three</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br>4 =&nbsp;<strong><em>Four&nbsp;</em></strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;5 =&nbsp;<strong><em>Five</em></strong><br>6 =&nbsp;<strong><em>Six&nbsp; &nbsp;</em></strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;7 =&nbsp;<strong><em>Seven</em></strong><br>8 =&nbsp;<strong><em>Eight&nbsp;</em></strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;9 =&nbsp;<strong><em>Nine</em></strong><span></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<h2>Número de dos cifras o decenas:</h2>
<p>Los números de dos cifras las dividiremos en dos grupos, verás que así te los aprenderás mejor:</p>
<h3>Del 10 al 19:</h3>
<p>Aquí debes tener en cuenta que estas cifras se forman con base en las unidades y se les añade el sufijo o terminación <em>"</em><em><strong>-teen</strong></em><em>"</em>, excepto por las números del 10 al 12.</p>
<p>10 = <strong><em>Ten&nbsp;</em></strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;11 = <strong><em>Eleven</em></strong><br>12 = <strong><em>Twelve</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;13= <strong><em>Thirteen</em></strong><br>14 = <strong><em>Fourteen</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;15 =&nbsp;<strong><em>Fifteen</em></strong><br>16 =&nbsp;<strong><em>Sixteen</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;17 =&nbsp;<strong><em>Seventeen</em></strong><br>18 =&nbsp;<strong><em>Eighteen&nbsp;</em></strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;19 =&nbsp;<strong><em>Nineteen</em></strong><span></span>&nbsp;</p>
<h3>Decenas del 20 al 90:</h3>
<p>Estas cifras se forman añadiendo <em>"</em><em><strong>-ty</strong></em><em>"</em> a la raíz del número, así:</p>
<p>20 =&nbsp;<strong><em>Twenty</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;30 =&nbsp;<strong><em>Thirty</em></strong><br>40 =&nbsp;<strong><em>Forty&nbsp;</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;50 =&nbsp;<strong><em>Fifty<br></em></strong>60 =&nbsp;<strong><em>Sixty</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;70 =&nbsp;<strong><em>Seventy<br></em></strong>80 =&nbsp;<strong><em></em></strong><strong><em>Eighty</em></strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;90 =&nbsp;<strong><em>Ninety</em></strong>&nbsp;</p>

<h2>Centenas o números de tres cifras:</h2>
<p><em><strong>Hundred</strong></em> es la traducción de ciento y va después de la cifra que cumple la función de centena en el número, por ejemplo:</p>
<p>255 = <em><strong>Two <span style="text-decoration: underline;">hundred</span> and fifty-five</strong></em>.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Doscientos cincuenta y cinco.</p>
<p>Después de <em><strong>hundred</strong></em>, va un <em><strong>and </strong>(y)</em>. Para algunos manuales de estilo y en algunos contextos añadirle <em><strong>and</strong></em> a la cifra no es necesario, pero nosotros te recomendamos que lo uses por cuestiones gramaticales.</p>
<p>568 = Five <strong>hundred</strong> <strong>and</strong> sixty-eight<br>324 = Three <strong>hundred</strong> <strong>and</strong> twenty-four<br>913 = Nine <strong>hundred and</strong> thirteen<br>786 = Seven <strong>hundred and</strong> eighty-six<br>407 = Four <strong>hundred and</strong> seven</p>
<p>Como ves en este último ejemplo, cuando en la función de decena está un cero (0), simplemente se lee la unidad.</p>
<h2>Mil:</h2>
<p>La traducción de mil es <em><strong>thousand</strong></em>. Al igual que <em><strong>hundred</strong></em>, para formar estas cifras debes agregar la palabra después del número que vaya seguido por la coma (<strong>,</strong>). Por ejemplo:</p>
<p>5,973 =<em><strong>Five <span style="text-decoration: underline;">thousand</span> nine hundred and seventy-three.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong></em>Cinco mil novecientos setenta y tres.</p>
<p>Las unidades, decenas y centenas de mil se conforman de la misma manera que en los casos anteriores y agregas <em><strong>thousand </strong></em>al final de la cifra en posición de mil. Por ejemplo:</p>
<p>1,372 = One <strong>thousand</strong> three hundred and seventy-two<br>62,450 = Sixty-two <strong>thousand</strong>&nbsp;four hundred and fifty<br>893,219 = Eight hundred and ninety-three <strong>thousand</strong> two hundred and nineteen</p>
<h2>Millón:</h2>
<p>La traducción de millón es <em><strong>million</strong></em> y va justo después de la cifra seguida por la marca de un millón, así:</p>
<p>1,287,790 = One <strong>million</strong> two hundred and eighty-seven thousand seven hundred and ninety.<br>5,439,561 = Five <strong>million</strong> four hundred and thirty-nine thousand five hundred and sixty-one.</p>
<p>Ten en cuenta que en inglés se usan comas para marcar mil o millón.</p>
